body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F3FDEC;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
    width: 70%;
    padding-top: 15px;
    height: calc(100vh - 15px);
    margin-left: 15%;
    box-shadow: 2px 10px 10px #CCC;
    background: linear-gradient(5deg, #F3FDEC 0%, #DFE6CA 10%, #F3FDEC 100%);
    display: flex;
    flex-direction: column;
    transition: all 1s;
}

#descriptionContainer {
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    color: #627D4F;
    padding: 25px 10px 50px 10px;
}

#descriptionContainer:nth-child(0) {
    box-shadow: 0px 10px 10px #888;
    color: red;
}

.contentColumn {
    padding: 0px 20px;
    width: 100%;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.welcomeText {
    font-size: 16px;
}

.welcomeText::first-letter {
    text-transform: uppercase;
    color: #3A4A2F;
    font-size: 18px;
}

.icon {
    text-align: center;
    margin-bottom: 30px;
    color: #3A4A2F;
}

.content {
    width: 100%;
    font-size: 48px;
    color: #627D4F;
    line-height: 48px;
    text-shadow: #ACA 0px 7.5px 5px;
    letter-spacing: -3px;
    text-align: center;
}

#goToColors, #reroll {
    color: #627D4F;
    font-weight: 500;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 72px;
    border-radius: 45%;
    outline: 0;
    border: 0;
    box-shadow: 0px 10px 10px #CCC;
    position: fixed;
    bottom: 72px;
    width: 72px;
    left: calc(50% - 36px);
    transition: all 0.5s;
}

#reroll {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 10px 25px #333;
}

#goToColors {
    z-index: 1;
}

#reroll {
    opacity: 0;
    z-index:0;
}

#goToColors:hover, #reroll:hover {
    cursor: pointer;
    box-shadow: 0px 5px 5px #777;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
}