body {
    background-color: #444;
}

.container {
    width: 80%;
    background-color: #FCFCFC;
    margin-left: 10%;
    height: 100%;
    min-height: 100vh;
    box-shadow: 0px -10px 10px #333;
    border: solid 1px #CCC;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.column {
    height: 48px;
    line-height: 48px;
    box-shadow: 0px 1px 5px #DDD;
    border-top: solid 1px #CCC;
    border-right: solid 1px #DDD;
    border-left: solid 1px #DDD;
    margin-bottom: 10px;
    padding-left: 20px;
    transition: box-shadow 0.4s, height 1s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.column:hover {
    box-shadow: 0px 2px 5px #BBB;
    cursor: pointer;
}